<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>

  </startup>

  <connectionStrings>
    <add name="connectionString" connectionString = "Data Source = VLANGA-LPT\SQLEXPRESS; Initial Catalog = OutdoorGear; Integrated Security = True"/>
  </connectionStrings>

  
  <appSettings>
    <add key="ParentSelectCommand" value="SELECT * FROM HikingBoots"/>
	
    <add key="ParentId" value="HbId"/>
	  
    <add key="ChildSelectCommand" value="SELECT * FROM Crampons"/>
    <add key="ChildSelectIdCommand" value="SELECT * FROM Crampons WHERE HbId = @value"/>
	
    <add key="ChildInsertCommand" value="INSERT INTO Crampons (HBId, CrBrand, Quantity, Size, Price) VALUES(@value1, @value2, @value3, @value4, @value5)"/>
									
    <add key="ChildUpdateCommand" value="UPDATE Crampons SET CrBrand=@value1, Quantity=@value2, Size=@value3, Price=@value4 WHERE CrId=@value5"/>
	
    <add key="ChildDeleteCommand" value="DELETE FROM Crampons WHERE CrId = @value"/>
  </appSettings>

</configuration>
